<mat-toolbar color="warn">
  <span style="margin-right:25px;">Stock Market Visualizer</span>

  <span class="toolbar">
    <button mat-button color="blue">User</button>
  </span>
</mat-toolbar>


  <mat-table class="example-container mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="stock_id">
      <mat-header-cell *matHeaderCellDef> stock_id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.stock_id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dt">
      <mat-header-cell *matHeaderCellDef> dt </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dt}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="opening">
      <mat-header-cell *matHeaderCellDef> opening </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.opening}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="high">
      <mat-header-cell *matHeaderCellDef> high </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.high}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="low">
      <mat-header-cell *matHeaderCellDef> low </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.low}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="closing">
      <mat-header-cell *matHeaderCellDef> closing </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.closing}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef> volume </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.volume}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <mat-table class="example-container1 mat-elevation-z8" [dataSource]="recSource">
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> company </mat-header-cell>
      <mat-cell *matCellDef="let recommendation"> {{recommendation.company}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="closing">
      <mat-header-cell *matHeaderCellDef> closing </mat-header-cell>
      <mat-cell *matCellDef="let recommendation"> {{recommendation.closing}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="change">
      <mat-header-cell *matHeaderCellDef> Change </mat-header-cell>
      <mat-cell *matCellDef="let recommendation"> {{recommendation.change}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="rec_columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: rec_columns;"></mat-row>
  </mat-table>

  <mat-table class="example-container2 mat-elevation-z8" [dataSource]="favSource">
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> company </mat-header-cell>
      <mat-cell *matCellDef="let favorites"> {{favorites.company}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="closing">
      <mat-header-cell *matHeaderCellDef> closing </mat-header-cell>
      <mat-cell *matCellDef="let favorites"> {{favorites.closing}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="performance">
      <mat-header-cell *matHeaderCellDef> Performance </mat-header-cell>
      <mat-cell *matCellDef="let favorites"> {{favorites.performance}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="fav_columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: fav_columns;"></mat-row>
  </mat-table>

<mat-table class="example-container3 mat-elevation-z8" [dataSource]="gainersSource">
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> company </mat-header-cell>
      <mat-cell *matCellDef="let gainers"> {{gainers.companyName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stockPrice">
      <mat-header-cell *matHeaderCellDef> stockPrice </mat-header-cell>
      <mat-cell *matCellDef="let gainers"> {{gainers.stockPrice}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="gainers_columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: gainers_columns;"></mat-row>
  </mat-table>



  <mat-table class="example-container4 mat-elevation-z8" [dataSource]="losersSource">
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> company </mat-header-cell>
      <mat-cell *matCellDef="let losers"> {{losers.companyName}} </mat-cell>
    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="stockPrice">
      <mat-header-cell *matHeaderCellDef> stockPrice </mat-header-cell>
      <mat-cell *matCellDef="let losers"> {{losers.stockPrice}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="losers_columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: losers_columns;"></mat-row>
  </mat-table>
