<mat-toolbar class="tb" color = "warn">
  <span style="margin-right:25px;" color="white">Stock Market Visualizer</span>

  <span class="toolbar">
    <button style="margin-left:800px;" mat-button color="blue">{{username}}</button>
  </span>
</mat-toolbar>

<p style="margin-left:300px;" class="title">Stocks Table</p>
<div class="stocks-container">
  <div class="stocks-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <mat-table class="stocks-table mat-elevation-z8" #table [dataSource]="dataSource">

    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stock_id">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.stock_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dt">
      <mat-header-cell *matHeaderCellDef> dt </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dt}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="opening">
      <mat-header-cell *matHeaderCellDef> opening </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.opening}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="high">
      <mat-header-cell *matHeaderCellDef> high </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.high}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="low">
      <mat-header-cell *matHeaderCellDef> low </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.low}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="closing">
      <mat-header-cell *matHeaderCellDef> closing </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.closing}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef> volume </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.volume}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Follow </mat-header-cell>
      <mat-cell *matCellDef="let row" >
         <button mat-raised-button color="#fff" *ngIf="isVisible" >Follow </button> 
         <button mat-raised-button color="accent" *ngIf="!isVisible"> Following </button> 
      </mat-cell>
    </ng-container> 

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "addFav(row)"> </mat-row>
  </mat-table>

</div>


<div class = "favorites-container">
  <p> Favorite Stocks </p>
  <mat-table class="favorites-table mat-elevation-z8" [dataSource]="favSource">
    <ng-container matColumnDef="stockName">
      <mat-header-cell *matHeaderCellDef> stockName </mat-header-cell>
      <mat-cell *matCellDef="let favorites"> {{favorites.stockName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> stockPrice </mat-header-cell>
      <mat-cell *matCellDef="let favorites"> {{favorites.price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="change">
      <mat-header-cell *matHeaderCellDef> change </mat-header-cell>
      <mat-cell *matCellDef="let favorites"> {{favorites.change}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="fav_columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: fav_columns;"></mat-row>
  </mat-table>
</div>

<div class="gainers-container">
  <p> Top Gainers </p>
<mat-table class="gainers-table mat-elevation-z8" [dataSource]="gainersSource">
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> company </mat-header-cell>
      <mat-cell *matCellDef="let gainers"> {{gainers.companyName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stockPrice" color="green">
      <mat-header-cell *matHeaderCellDef> stockPrice </mat-header-cell>
      <mat-cell class="font-gainers" *matCellDef="let gainers"> {{gainers.stockPrice}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="gainers_columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: gainers_columns;"></mat-row>
  </mat-table>

</div>

<div class="losers-container">
  <p> Top Losers </p>
  <mat-table class="losers-table mat-elevation-z8" [dataSource]="losersSource">
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> company </mat-header-cell>
      <mat-cell *matCellDef="let losers"> {{losers.companyName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="stockPrice">
      <mat-header-cell *matHeaderCellDef> stockPrice </mat-header-cell>
      <mat-cell class="font-losers" *matCellDef="let losers"> {{losers.stockPrice}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="losers_columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: losers_columns;"></mat-row>
  </mat-table>
</div>