panel {
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9364891.jpg"); 
}

.title {
  display: flex;
  position: relative;
  left: 260px;
}

.font-gainers {
  color: limegreen;
}

.font-losers {
  color: red;
}

.stocks-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 1000px;
  position: absolute;
  left: 100px;
  top: 85px;
}

.stocks-table {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 1000px;
  position: relative;
  left: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.stocks-header {
  //display: flex;
  min-height: 10px;
  padding: 8px 10px 0;

}


.favorites-container {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  min-width: 450px;
  position: absolute;
  left: 10px;
  top: 500px;
  //border: 2px solid #73AD21;
}

.favorites-table {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  min-width: 400px;
  position: absolute;
  left: 0px;
  top: 45px;
  border: 1px solid black;
  border-radius: 5px;
}

.gainers-container {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  min-width: 250px;
  position: absolute;
  left: 550px;
  top: 500px;
  //border: 2px solid #73AD21;
}

.gainers-table {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  min-width: 250px;
  position: absolute;
  left: 0px;
  top: 45px;
  border: 1px solid black;
  border-radius: 5px;
}

.losers-container {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  min-width: 250px;
  position: absolute;
  left: 950px;
  top: 500px;
  //border: 1px solid black;
}

.losers-table {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  min-width: 250px;
  position: absolute;
  left: 0px;
  top: 45px;
  border: 1px solid black;
  border-radius: 5px;
}

.mat-table {
  overflow: auto;
  max-width: 800px;
}

.toolbar {
	display: flex;
	//background-color: blue;
	left: 800px;
}

.tb {
  display: flex;
  //background-color: black;
}

